<h1>Sign In</h1>
<div class="row">
  <div class="span6 offset3">
<%= form_for(:session ,url: sessions_path) do |f| %>
<div class = "field">
Email
<%= f.text_field :email %><br />
</div>
<div class ="field">
<br />
<br />
Password<br />
<%= f.password_field :password %><br />
</div>
<div class="action">
<br />
<%= f.submit "Sign In" %>
</div>
</div>
</div>
<% end %>
<p>New User ? <%= link_to "Sign Up Now !" ,signup_path %></p>
