<h1> Reply</h1>
<%= form_for @comment do |f| %>
<div class="row">
  <div class="span6 offset3">
<div class="field">
<%= f.label :content %>
<%= f.text_area:content %>
</div>
<%= f.hidden_field :forum_id %>
<div class="actions">
<%= f.submit "Submit" %>
</div>
</div>
</div>
<% end %>
