<h1>Edit User </h1>
<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' , object: f.object %>
<div class="row">
  <div class="span6 offset3">
<div class="field" >
Name*<br />
<%= f.text_field :name %></div>
<div class="field" >
Email*<br />
<%= f.text_field :email %>
</div>
<div class="field">
Password*<br />
<%= f.password_field :password %>	
</div>
<div class="field">
Confirm Password*
<%= f.password_field :password_confirmation %>
</div>
<div class="field">
Profession<pre> Eg-Student,Web developer</pre>
<%= f.text_field :profession %>
</div>
<div class="field">Qualification <br /><pre> Eg- Btech(1) for 1st year Btech.</pre> 
<%= f.text_field :qualification %>
</div>
<div class="action">
<%= f.submit "Update" %>
</div>
<% end %>
<div>
  <%= gravatar_for(@user) %>
  <a href="http://gravatar.com/emails">change</a>
</div>
</div></div>
