<h1>Welcome <%= @user.name %></h1>
<h1><%= gravatar_for @user %><%= @user.email %></h1>
<table class="profile">
<tr>
<td class="main">
<% if @user.microposts.any? %>
<table class ="microposts">
<%= render @microposts %>
</table>
<%= will_paginate @microposts %>
<% end %>
</td>
<td class="sidebar round">
<strong>Name</strong><%= @user.name %><br />
<strong>URL</strong><%= link_to user_path(@user) , @user %><br />
<strong>Microposts</strong><%= @user.microposts.count %>
</td>
</tr> 
</table>
