<!DOCTYPE html>
<html>
<head>
  <title><%= title_help(@title) %> </title>
<%= render "layouts/stylesheet" %>
<%= render "layouts/header" %><br /><br />
  <%= csrf_meta_tags %>
<%= render 'layouts/shim' %> 
</head>
<body>
<ul>	
</ul>
<%flash.each do |key ,value| %>
<div class="flash <%= key %>"><%= value %></div>
<% end %><p>
<%= yield %></p>
</body>
<%= render 'layouts/footer' %>
</html>
