<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30031520-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  <title><%= title_help(@title) %> </title>
<%= render "layouts/stylesheet" %>
<%= render "layouts/header" %><br /><br />
  <%= csrf_meta_tags %>
<%= render 'layouts/shim' %> 
</head>
<body>
<ul>	
</ul>
<%flash.each do |key ,value| %>
<div class="flash <%= key %>"><%= value %></div>
<% end %><p>
<%= yield %></p>
</body>
<%= render 'layouts/footer' %>
</html>
